body {
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    color: white;
    margin: 0;
}

h2{
    color: lightgray;
    margin-top: 1em;
    margin-bottom: 25em;
}

.profile-pic {
    width: 18em;
    height: 18em;

    border-radius: 50%;
    border: 5px solid rgb(237, 239, 245);
    
    object-fit: cover;
    position: absolute;
    top: calc(50vh - 9em);
}

p {
    font-size: 1.5rem;
    margin: 0;
}