.profile {
    min-height: 50vh;
    background: rgb(11, 33, 74);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    padding-bottom: 12rem;
    box-sizing: border-box;
}

.profile-text {
    text-align: center;
    z-index: 1;
    transform: none;
    margin-bottom: 2rem;
}

h1 {
    font-size: 5rem;
    color: white;

    margin: 0;
}

h2 {
    font-weight: normal;
    letter-spacing: .2em;
    color: lightgray;

    margin: .5em 0 0;
}

.profile-pic {
    width: 18em;
    height: 18em;

    border-radius: 50%;
    border: 5px solid rgb(237, 239, 245);

    object-fit: cover;

    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    z-index: 0;
}

.content {
    min-height: 25vh;
    background: rgb(237, 239, 245);

    display: flex;
    justify-content: center;
    padding-top: 12rem;
}

.content-text {
    font-size: 1.5rem;
    font-weight: normal;
    
    max-width: 50vw;
    text-align: center;
}

@media (max-width: 900px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.5rem;
        letter-spacing: .15em;
    }

    .profile {
        min-height: 40vh;
        padding-bottom: 10rem;
    }

    .profile-pic {
        width: 15em;
        height: 15em;
    }

    .content {
        padding: 10rem 2rem 0;
    }

    .content-text {
        max-width: 75vw;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
        letter-spacing: .1em;
    }

    .profile {
        min-height: 40vh;
        padding-bottom: 8rem;
    }

    .profile-text {
        margin-bottom: 1.5rem;
        padding: 0 1rem;
    }

    .profile-pic {
        width: 12em;
        height: 12em;
    }

    .content {
        padding: 8rem 1.5rem 0;
    }

    .content-text {
        max-width: 100%;
        font-size: 1.2rem;
    }
}