@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Regular.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Heavy.woff2") format("woff2");
    font-weight: 800;
}

html, body {
    margin: 0;
    min-height: 100%;
}

body {
    font-family: "Avenir", Arial, Helvetica, sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: rgb(11, 33, 74);
    padding: 1.5rem 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0.7;
}

nav a:hover {
    opacity: 1;
}

main{
    flex: 1;
}

footer {
    width: 100%;
    background: rgb(237, 239, 245);
    color: black;
    text-align: center;
    padding: 1rem 0;
}

footer img{
    margin: .5em;
    width: 3em;
    height: 3em;
}

footer a{
    text-decoration: none;
}

@media (max-width: 600px) {
    nav {
        gap: 1.5rem;
    }
}

@media (max-width: 400px) {
    nav a {
        font-size: 1rem;
    }
}